{% load static %}
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    {% include '../commonsidecounter.html' %}
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                <span class="dash__text u-s-m-b-30">Here you can see all products that have been delivered.</span>

                                <div class="m-order__list">
                                    <!--====== Dashboard orders ======-->
                                    {% for itm in orderdetail %}
                                        <div class="m-order__get">
                                            <div class="manage-o__header u-s-m-b-30">
                                                <div class="dash-l-r">
                                                    <div>
                                                        <div class="manage-o__text u-c-silver">Placed on {{ itm.created_at }}</div>
                                                    </div>
                                                    <div>
                                                        <div class="dash__link dash__link--brand">

                                                            <a href="">MANAGE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="manage-o__description">
                                                <div class="description__container">
                                                    <div class="description__img-wrap">

                                                        <img class="u-img-fluid" src="{% static 'images/ordericon.png' %}" alt=""></div>

                                                    <div class="description-title">{{ itm.orderno }}</div>
                                                </div>
                                                <div class="description__info-wrap">
                                                    <div>

                                                        <span class="manage-o__badge badge--processing"> {{ itm.orderstatus }}</span></div>
                                                    <div>

                                                                <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                    <span class="manage-o__text-2 u-c-secondary">{{ itm.items|length }}</span></span></div>
                                                    <div>

                                                                <span class="manage-o__text-2 u-c-silver">Total:

                                                                    <span class="manage-o__text-2 u-c-secondary">Rs {{ itm.subtotal }}</span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!--====== Dashboard order END ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->