{% load  static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/logo.png' %}" alt="" height="16">
                    </span>
        <span class="logo-sm">
                        <img src="{% static 'assets/images/logo_sm.png' %}" alt="" height="16">
                    </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="16">
                    </span>
        <span class="logo-sm">
                        <img src="{% static 'assets/images/logo_sm_dark.png' %}" alt="" height="16">
                    </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        {% include './sidemenu.html' %}
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
