<div class="row">
    <div class="col-12 m-3">
        <a href="{% url 'sellerregister' %}" target="_blank" class="btn btn-success">ADD NEW SELLER</a>
        <a href="{% url 'Supregister' %}" target="_blank" class="btn btn-success">ADD NEW Manager</a>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap" id="basic-datatable">
                        <thead class="table-light">
                        <tr>


                            <th>Username</th>
                            <th>email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Status</th>
                            <th style="width: 85px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sellers in accounts %}
                                    <tr>

                                        <td>
                                            {{ sellers.username }}

                                        <td>
                                            {{ sellers.email }}
                                        </td>
                                        <td>
                                          {{ sellers.first_name }}
                                        </td>
                                        <td>
                                            {{ sellers.last_name }}
                                        </td>
                                        <td>
                                            {% if sellers.is_active is True %}
                                                <span class="badge bg-success">Active</span>
                                            {% elif sellers.is_active is False %}
                                                <span class="badge bg-danger">Deactivate</span>
                                            {% endif %}

                                        </td>

                                        <td class="table-action">
                                            <a href="{% url 'Supsellerdetails' id=sellers.id %}" class="btn btn-danger "> <i class="mdi mdi-eye"></i> Manage</a>
                                        </td>
                                    </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->
</div>