<!--====== Section 1 ======-->
<div class="u-s-p-t-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">

                <!--====== Product Breadcrumb ======-->
                <div class="pd-breadcrumb u-s-m-b-30">
                    <ul class="pd-breadcrumb__list">
                        <li class="has-separator">

                            <a href="{% url 'fproductpage' %}?filter={{ product.category.name}}">{{ product.category.name }}</a></li>

                        <li class="is-marked">

                            <a href="{% url 'fproductpage' %}?filter={{ product.subcategory.name}}">{{ product.subcategory.name }}</a></li>
                    </ul>
                </div>
                <!--====== End - Product Breadcrumb ======-->


                <!--====== Product Detail Zoom ======-->
                <div class="pd u-s-m-b-30">
                    <div class="slider-fouc pd-wrap">
                        <div id="pd-o-initiate">

                            <div class="" data-src="{{ product.mainimage }}">
                                <img class="u-img-fluid" src="{{ product.mainimage }}" data-zoom-image="{{ product.mainimage }}" alt="">
                            </div>
                            {% for img in product.productimg %}
                                <div class="" data-src="{{ img.image }}">
                                    <img class="u-img-fluid" src="{{ img.image }}" data-zoom-image="{{ img.image }}" alt="">
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="u-s-m-t-15">
                        <div class="slider-fouc">

                            <div id="pd-o-thumbnail">

                                <div>
                                    <img class="u-img-fluid" src="{{ product.mainimage }}" alt="">
                                </div>

                                {% for img in product.productimg %}
                                    <div>
                                        <img class="u-img-fluid" src="{{ img.image }}" alt="">
                                    </div>
                                {% endfor %}
                        <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Product Detail Zoom ======-->
            </div>
            <div class="col-lg-7">

                <!--====== Product Right Side Details ======-->
                <div class="pd-detail">
                    <div>

                        <span class="pd-detail__name">{{ product.name }}</span></div>
                    <div>
                        <div class="pd-detail__inline">

                            <span class="pd-detail__price">RS {{ product.price }}</span>

                        </div>
                    </div>

                    <div class="u-s-m-b-15">
                        <div class="pd-detail__inline">

                            <span class="pd-detail__stock">{{ product.quantity }} in stock</span>

                        </div>
                    </div>
                    <div class="u-s-m-b-15">

                        <span class="pd-detail__preview-desc">
                            {{ product.productdetail.about|safe }}
                        </span>
                    </div>


                    <div class="u-s-m-b-15">
                        <form class="pd-detail__form" method="post" action="{% url 'faddtocart' product=product.id %}">
                            {% csrf_token %}
                            <div class="u-s-m-b-15">

                                <span>Size:</span>
                                <span class="pd-detail__label u-s-m-b-8">{{ product.productdetail.size }}</span>

                            </div>
                            <div class="u-s-m-b-15">

                                <span>Variant:</span>
                                <span class="pd-detail__label u-s-m-b-8">{{ product.productdetail.variant }}</span>
                            </div>
                            <div class="u-s-m-b-15">

                                <span>Sold By:</span>
                                <span class="pd-detail__label u-s-m-b-8">{{ product.seller }}</span>
                            </div>

                            <div class="pd-detail-inline-2">
                                <div class="u-s-m-b-15">

                                    <!--====== Input Counter ======-->
                                    <div class="input-counter">

                                        <span class="input-counter__minus fas fa-minus"></span>

                                        <input class="input-counter__text input-counter--text-primary-style" name="qtybtn" type="text" value="1" data-min="1" data-max="1000">

                                        <span class="input-counter__plus fas fa-plus"></span></div>
                                    <!--====== End - Input Counter ======-->
                                </div>
                                <div class="u-s-m-b-15">

                                    <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--====== End - Product Right Side Details ======-->
            </div>
        </div>
    </div>
</div>


<!--====== End - Section 1 ======-->