<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="{% url 'addproduct' %}" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add Products</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-square-edit-outline"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                        </div>
                    </div>
                    <!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap"  id="basic-datatable">
                        <thead class="table-light">
                        <tr>
                            <th class="all" style="width: 20px;">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                </div>
                            </th>
                            <th class="all">Product</th>
                            <th>Category</th>
                            <th>Seller</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th style="width: 85px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>
                                    <img src="{{ product.mainimage }}" alt="contact-img" title="contact-img" class="rounded me-3" height="48">
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        <a href="{% url 'sellersingleproducts' product.id %}" class="text-body">{{ product.name }}</a>
                                        <br>
                                        <span class="text-warning">{{ product.productdetail.SKU }}</span>
                                    </p>
                                </td>
                                <td>
                                    {{ product.category }}
                                </td>
                                <td>
                                    {{ product.seller }}
                                </td>
                                <td>
                                    ₹ {{ product.price }}
                                </td>

                                <td>
                                    {{ product.quantity }}
                                </td>
                                <td>
                                    {% if  product.quantity  > 100 %}
                                        <span class="badge bg-success">Active</span>
                                    {% elif product.quantity < 100 %}
                                        <span class="badge bg-warning">Low stock</span>
                                    {% elif  product.quantity  == 0 %}
                                        <span class="badge bg-danger">Out of Stock</span>
                                    {% endif %}
                                </td>

                                <td class="table-action">
                                    <a href="{% url 'sellersingleproducts' product.id %}" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="{% url 'editproduct' product.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                    <a href="{% url 'deleteproduct' product.id %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card-->
    </div>
    <!-- end col -->
</div>