{% load static %}

<!-- end row -->


<div class="row">
    <div class="col-sm-4">
        <a href="{% url 'allorders' %}" class="btn btn-success mb-2"><i class="mdi mdi-keyboard-backspace me-2"></i> Back</a>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Items from <span class=" text text-danger"> {{ order_detail.orderno }}</span></h4>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order_detail.items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td class="text-danger">RS {{ item.product.price }}</td>
                                <td class="text-primary">RS {{ item.itemtotal }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->

            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->


<div class="row">

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Billing Information</h4>

                <ul class="list-unstyled mb-0">
                <h5>Ordered by:  <span>{{ order_detail.customer }}</span></h5>
                    <li>
                        <p class="mb-2"><span class="fw-bold me-2">Payment Type:</span>{{ order_detail.payment }}</p>
                    </li>
                    {% for note in  order_detail.sellerstatus %}
                        {% if note.seller == request.session.sellerID %}
                            <h5>Order Note: <span class="text text-primary">{{ note.note }}</span></h5>
                        {% endif %}
                    {% endfor %}

                </ul>

            </div>
        </div>
    </div> <!-- end col -->

    {% for info in order_detail.orderaddress %}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Delivery Information</h4>

                    <h5>{{ info.firstname }} {{ info.lastname }}</h5>

                    <address class="mb-0 font-14 address-lg">
                        {{ info.address1 }}, {{ info.address2 }}<br>
                        {{ info.city }}, {{ info.state }} {{ info.postal }}<br>
                        <span title="Phone">Phone :</span> {{ info.phone }} <br>
                        <span title="Mobile">Email:</span> {{ info.email }}
                    </address>

                </div>
            </div>
        </div>
        <!-- end col -->
    {% endfor %}

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Order Managment</h4>

                <div class="text-center">
                    <i class="mdi mdi-truck-fast h2 text-muted"></i>
                    <h5><b>{{ order_detail.orderno }}</b></h5>
                    <h5><b>{{ order_detail.created_at }}</b></h5>
                    <h5><b>Grand Total <span class="text-danger">{{ order_detail.subtotal }}<sup>RS</sup></span></b></h5>
                    {% for data in order_detail.sellerstatus %}
                        {% if data.seller == request.session.sellerID and data.approval == 'approved' %}
                            <h3 class="text text-success">Order Approved</h3>
                        {% elif data.seller == request.session.sellerID and data.approval == 'pending' %}
                            <a href="{% url 'ordapprove' order_detail.id %}" class="m-3 btn btn-primary ">Approve Items</a>
                            <a href="{% url 'ordreject' order_detail.id %}" class="m-3 btn btn-danger ">Cancel Order</a>
                        {% elif data.seller == request.session.sellerID and data.approval == 'rejected' %}
                            <h3 class="text text-danger">Order REJECTED</h3>
                        {% endif %}
                    {% endfor %}


                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>